#b1 {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#b1:hover {background-color: #3e8e41}

#b1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#b2 {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#b2:hover {background-color: #3e8e41}

#b2:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Buttons{
	text-align: center;
	text-decoration-color: white;

}
.Scores{
	text-align: center;
	color: white;
}
.Timer{
	text-align: center;
	color: white;
}
html {
  height: 98%;
}
body {
	min-height: 98%;
	background: rgba(1, 1, 1, 1.0);
	background: linear-gradient(135deg, rgba(1, 1, 1, 1.0), rgba(1, 6, 77, 1.0));
}
#reload{
    width: 75px;
    position: relative;
    bottom: 33px;
}
#web{
    position: relative;
    right: -75px;
    color: rgb(107, 116, 153);
    width: 218px;
    height: 30px;
    bottom: -17px;
}